$border-color: #ececec;
$main-color: #ffffff;
$title-text-color: #1e1e1e;
$secondary-text-color: #283444;
$input-bg-color: #ececec;
$input-text-color: black;
$primary-color: #6a61ff;
$primary-button: #d9d9ff;
